body {
  padding: 3vw;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: sans-serif;
}
.main-title {
  color: white;
  text-align: center;
  font-size: xxx-large;
  background-image: url("images/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  border-radius: 0.5em;
}
h1 {
  margin: 0;
  font-family: "Christmas   Classica", sans-serif;
}

.secondary-title {
  font-size: xx-large;
  margin-top: 3rem;
  /* text-align: center; */
  /* color: gray; */
}
.welcome-text {
  font-size: large;
}
.grid-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  border-width: 2px;
  border-style: solid;
  border-color: #0d4b25;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  top: 0;
  transition: top, box-shadow, 0.3s ease;
}

.card:hover {
  top: -10px;
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
}

.card-title {
  background-color: #0d4b25;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}
.card-image {
  width: 128px;
}

.card-body {
  padding: 1rem;
  padding-top: 0.5rem;
  font-weight: bold;
}
