body {
  /* padding: 3vw; */
  /* padding-left: 10vw;
  padding-right: 10vw; */
  font-family: sans-serif;
  background-color: #f8fae5;
  margin: 0;
  font-size: large;
}

.text-spacer {
  padding-left: 10vw;
  padding-right: 10vw;
}
.main-title {
  color: white;
  text-align: center;
  font-size: 4rem;
  background-image: url("images/banner.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #43766c;
  padding: 5rem;
}
h1 {
  margin: 0;
  font-family: "Christmas   Classica", sans-serif;
}

.secondary-title {
  font-size: xx-large;
  margin-top: 1rem;
  text-align: center;
  color: #386641;
}

.welcome-text {
  font-size: x-large;
}
.grid-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  border-width: 0.25em;
  border-style: solid;
  border-color: #386641;
  border-radius: 0.5rem;
  background-color: white;
  text-align: center;
  position: relative;
  top: 0;
  transition: top, box-shadow, opacity, 0.5s ease;
}

.card:hover {
  top: -10px;
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
}

.card-title {
  background-color: #386641;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
}
.card-image {
  width: 128px;
}

.card-body {
  padding: 1rem;
  padding-top: 0.5rem;
  font-weight: bold;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1.25em;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
